#root > div:nth-child(1) > div.withScreencast > div > div {
    background-color: #F4FAFF;   
}

#tabs-1-tab-0 {
    color: #DEE7E7;
    background-color: #B7ADCF;
    text-align: center;
    font-size: 1.2em;
    padding: 2%;
}
#tabs-1-tab-1 {
    color: #DEE7E7;
    background-color: #B7ADCF;
    text-align: center;
    font-size: 1.1em;
    padding: 2%;
}
#root > div:nth-child(1) > div.withScreencast > div > div > div > section > div > div:nth-child(1) > div > div.stTabs.css-0.exp6ofz0 > div > div.st-cv.st-bb.st-cs {
    color: #DEE7E7;
}
.st-co {
    background-color: #F4FAFF;
}
h3 {
    color: #121717;
}
h1 {
    color: #3C3E3E;
}
body{
    color: #121717;
}
#root > div:nth-child(1) > div.withScreencast > div > div > header {
    background-color: #DEE7E7;
}
tab-highlight, #tabs-bui3-tab-0, #tabs-bui3-tab-1  {
    background-color: #B7ADCF;
    color:#3C3E3E;
}
.st-dp {
    background-color: #F4FAFF;
}
.st-dl {
    border-bottom-color: #121717;
}
p {
    color:#121717;
}
